# Dependency directories
node_modules/
# dotenv environment variable files
.env

# yarn v2
.yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

**/cypress/videos

**/.vscode
