.notification {
  background: lightsteelblue;
  padding: 0.7em;
  font-size: 1.2em;
  border: 3px solid grey;
  border-radius: 8px;
}

.notification--error {
  color: red;
  border-color: red;
}

.notification--success {
  color: green;
  border-color: green;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  border: 1px solid;
  margin-bottom: 5px;
}